<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <title>Paul Portier Photo</title>
    <meta content="fr" http-equiv="content-language">
    <meta content="Paul Portier, Photographies" name="description">
    <meta content="Paul Portier, Photographe" name="keywords">
    <meta content="Paul Portier, Photographe" name="author">

    <!-- Goodle Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>
  <body>

    <%= render 'shared/navbar' unless current_page? root_path %>
    <%= render 'shared/flashes' %>
    <%= yield %>

  </body>
</html>
